<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="./vendor/autoload.php">
    <php>
        <server name="SPLUNK_ACCESS_TOKEN" value="6CbR63VxUSpWLEsya7wn-XTT2_rlFkzWX6lfaPzgwzFamh5Rec4kD4Is-luQ2JhnXHAt1h_7rLQ=" />
        <server name="SPLUNK_PROJECT_ID" value="9faf2a98611b11e386d322000a9e07fe" />
        <server name="SPLUNK_API_HOSTNAME" value="api.piiy-bu35.data.splunkstorm.com" />
    </php>
    <testsuites>
        <testsuite name="BotTracker">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>